
:root {
  --oxblood:  #5E1E2B;
  --raw-oak:  #D2BCA8;
  --plaster:  #DADCDD;
  --concrete: #9C9D9B;
  --obsidian: #202020;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  color: var(--obsidian);
  min-height: 100vh;
  background-color: #F5F5F0;
  display: flex;
  flex-direction: column;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--raw-oak);
  padding: 20px 40px;
  margin: 20px;
  border-bottom: 3px solid var(--oxblood);
  box-shadow: 0 4px 20px rgba(94, 30, 43, 0.4);
  position: sticky;
  top: 10px;
  z-index: 1000;
  border-radius: 20px;
}


.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  height:40px;
}

.nav-brand {
  font-size: 32px;
  font-weight: bold;
  color: var(--obsidian);
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 1px;
}

.nav-brand-ext {
  color: var(--oxblood);
  font-size: 18px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: var(--obsidian);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 7px 0;
  position: relative;
  transition: color 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 0.5px;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0; left: 0;
  width: 0%;
  height: 3px;
  background-color: var(--oxblood);
  transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after { width: 100%; }

.nav-links a:hover,
.nav-links a.active {
  color: var(--oxblood);
  font-weight: 900;
}

.nav-buttons { display: flex; gap: 10px; }

.btn-connexion {
  background: transparent;
  border: 2px solid var(--oxblood);
  color: var(--oxblood);
  padding: 7px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
}

.btn-sinscrire :hover {
  background-color: var(--oxblood);
  color: var(--plaster);
}

.btn-connexion {
  background-color: var(--oxblood);
  border: 1.5px solid var(--oxblood);
  color: var(--plaster);
  padding: 9px 24px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 19px;
  transition: all 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
}

.btn-connexion:hover {
  background-color: #7a2438;
  box-shadow: 0 0 12px rgba(94, 30, 43, 0.6);
}


.hero {
  display: flex;             
  align-items: center;
  justify-content: space-between;
  padding: 60px 150px;
  gap: 40px;
  flex-wrap: wrap;
  min-height: 70vh;           
}

.hero-text {
  flex: 1;
  min-width: 280px;
  max-width: 500px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
  line-height: 1.2;
  color: var(--obsidian);
  font-family: 'Times New Roman', Times, serif;
}

.hero h1 span { color: var(--oxblood);
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
font-size: 75px;
}

.hero p {
  color: var(--obsidian);
  margin-bottom: 35px;
  line-height: 1.6;
  font-size: 25px;
}

.hero-btn {
  padding: 18px 32px;
  background: linear-gradient(90deg, var(--oxblood) 0%, #8a2a3d 100%);
  color: var(--plaster);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: linear-gradient(90deg, #8a2a3d 0%, var(--oxblood) 100%);
  box-shadow: 0 0 12px rgba(94, 30, 43, 0.5);
}

.hero-img {
  flex: 1;                    
  min-width: 280px;
  max-width: 600px;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
}

.hero-img img {
  width: 95%;
  border-radius: 5px;
  box-shadow: 0 8px 30px rgba(94, 30, 43, 0.2);
}

.steps {
  text-align: center;
  padding: 80px 40px;
  width: 100%;
  
  
}

.steps .sub {
  color: var(--oxblood);
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.steps h2 {
  font-size: 60px;
  margin: 8px 0 30px;
  color: var(--obsidian);
  font-family: 'Times New Roman', Times, serif;
}

.steps-row {
  display: flex;
  justify-content: center;
  gap: 30px;               
  flex-wrap: wrap;
  max-width: 1100px;      
  margin: 0 auto;
}

.step {
  background: linear-gradient(135deg,
    var(--raw-oak) 0%,
    var(--plaster) 100%);
  border-radius: 12px;
  padding: 40px 30px;
  width: 100%;          
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.step .icon { font-size: 40px; margin-bottom: 10px; }
.step h3 { color: var(--oxblood); margin-bottom: 8px; font-size: 30px; font-family: Arial, Helvetica, sans-serif; }
.step p { color: var(--obsidian); font-size: 20px; line-height: 1.5; font-family: 'Times New Roman', Times, serif; font-weight: bold; }


.cars { padding: 60px 40px; text-align: center; }

.cars h2 { font-size: 25px; margin: 8px 0 35px; color: var(--oxblood); font-family: 'Times New Roman', Times, serif ; }

.cars-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.nos {
  font-size: 50px;
  color: var(--obsidian);
  font-family: 'arial', 'Helvetica', sans-serif;
}


.cars-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
      margin-top: 20px;
    }
    .car-card {
      background: white;
      border-radius: 10px;
      padding: 60px;
      text-align: center;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    .car-card img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 40px;
    }
    .car-card h3 {
      margin: 0 0 8px 0;
      font-size: 27px;
      font-weight: bold;
      color: var(--obsidian);
      font-family: 'Segoe UI', sans-serif;
      letter-spacing: 0.5px;
    }

    .car-card p {
      font-size: 20px;
      font-weight: bold;
      color: var(--oxblood);
      margin-bottom: 30px;
      letter-spacing: 0.5px;
    }

    .btn-reserver {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background: var(--oxblood);
  color: var(--plaster);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.5px;
  margin-top: 12px;
}

.btn-reserver:hover {
  background: #7a2535;
  box-shadow: 0 4px 12px rgba(94, 30, 43, 0.35);
}

    .cars-more {
      text-align: center;
      margin-top: 30px;
}

.btn-plus {
  padding: 16px 38px;
  background: transparent;
  border: 2px solid var(--oxblood);
  color: var(--oxblood);
  border-radius: 25px;
  cursor: pointer;
  font-size: 22px;
  transition: all 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
}

.btn-plus:hover {
  background: var(--oxblood);
  color: var(--plaster);
}


footer {
  background: linear-gradient(135deg,
    var(--obsidian) 0%,
    var(--oxblood) 100%);
  color: var(--plaster);
  text-align: center;
  padding: 25px;
  margin-top: auto;  
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  
}